<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="www.google.com">This is a sample blog page</a> 
            by <a href="www.google.com"> another link</a>
        </small>
        
        <nav>
            <ul>
                <li>
                    <%= link_to "About", about_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>